.picAndVid_Header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8vh;
}
.picAndVid_logo {
  height: 100%; 
}
/* MAIN */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .title {
  font-size: 18px;
  background-color: rgb(242, 242, 242);
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.upload_file {
  margin-top: 15px;
  width: 100%;
  height: 68vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: gray;
}

.option {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
}
.option .count {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 15px; */
}

.option span {
  align-self: center;
}

.option .select{
  width: 200px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  
}

.submit {
  font-size: 18px;
  margin-top: 15px;
  border: none;
  width: 800px;
  height: 50px;
  color: white;
  background-color: rgb(255, 23, 76);
}
.tip {
  margin-top: 10px;
  font-size: 14px;
}
/* FOOTER */
footer {
  text-align: center;
  font-size: 12px;
}
